#body_button{
    margin: 0;
    padding: 0;
    color: #ddf;
    text-align: center;
}
.pdf-viewer {
    width: 100%;
    height: 100%;
}

select.corractions-form--row__select {
    width: 135%;
}

select.events-form--row__select {
    width: 135%;
}

.form-group__container {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 0.1rem;
}
.column-main-grid__10 {
    white-space: normal;
    min-width: 10%;
    max-width: 10%;
    width: 100%;
}



/*************************** Blue button ***************************/
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after,
.coca_cola,
.coca_cola::before,
.coca_cola::after
{
    transition: all ease .5s;
}

.button_hola,
.coca_cola{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover,
.coca_cola:hover
{
    box-shadow: 0 0 5em .5em rgba(60, 141, 188, 0.8);
}

.button_hola span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button_hola:hover span,
.coca_cola:hover
{
    background-color: #fff;
    color: #112;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after,
.coca_cola::before,
.coca_cola::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola span::before,
.coca_cola::before
{
    border-style: solid none;
}

.button_hola::before,
.button_hola span::after,
.coca_cola::before
{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after,
.coca_cola::after
{
    border-style: none solid;
}

.button_hola::after,
.button_hola span::before,
.coca_cola::after
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after,
.coca_cola:hover::after
{
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before,
.coca_cola:hover::before
{
    transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
    opacity: 0;
}

.falcon span,
.coca_cola
{
    display: inline-block;
    text-align: left;
    background: rgba(60, 141, 188, 0.8) none repeat scroll 0 0;
    border: medium none;
    font-size:14px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color:#fff;
    font-weight: 600;
}

.falcon span:hover,
.coca_cola:hover
{
    background-color: #ecf0f5;
}

/*************************** Green button NEW ***************************/
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after,
.coca_cola_green,
.coca_cola_green::before,
.coca_cola_green::after
{
    transition: all ease .5s;
}

.button_hola,
.coca_cola_green{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover,
.coca_cola_green:hover
{
    box-shadow: 0 0 5em .5em rgba(40, 167, 69, 0.8);
}

.button_hola span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button_hola:hover span,
.coca_cola_green:hover
{
    background-color: #fff;
    color: #112;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after,
.coca_cola_green::before,
.coca_cola_green::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola span::before,
.coca_cola_green::before
{
    border-style: solid none;
}

.button_hola::before,
.button_hola span::after,
.coca_cola_green::before
{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after,
.coca_cola_green::after
{
    border-style: none solid;
}

.button_hola::after,
.button_hola span::before,
.coca_cola_green::after
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after,
.coca_cola_green:hover::after
{
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before,
.coca_cola_green:hover::before
{
    transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
    opacity: 0;
}

.falcon span,
.coca_cola_green
{
    display: inline-block;
    text-align: left;
    background: rgba(40, 167, 69, 0.8) none repeat scroll 0 0;
    border: medium none;
    font-size:14px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color:#fff;
    font-weight: 600;
}

.falcon span:hover,
.coca_cola_green:hover
{
    background-color: #ecf0f5;
}

/*************************** Red button NEW ***************************/
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after,
.coca_cola_red,
.coca_cola_red::before,
.coca_cola_red::after
{
    transition: all ease .5s;
}

.button_hola,
.coca_cola_red{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover,
.coca_cola_red:hover
{
    box-shadow: 0 0 5em .5em rgba(220, 53, 69, 0.8);
}

.button_hola span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button_hola:hover span,
.coca_cola_red:hover
{
    background-color: #fff;
    color: #112;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after,
.coca_cola_red::before,
.coca_cola_red::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola span::before,
.coca_cola_red::before
{
    border-style: solid none;
}

.button_hola::before,
.button_hola span::after,
.coca_cola_red::before
{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after,
.coca_cola_red::after
{
    border-style: none solid;
}

.button_hola::after,
.button_hola span::before,
.coca_cola_red::after
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after,
.coca_cola_red:hover::after
{
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before,
.coca_cola_red:hover::before
{
    transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
    opacity: 0;
}

.falcon span,
.coca_cola_red
{
    display: inline-block;
    text-align: left;
    background: rgba(220, 53, 69, 0.8) none repeat scroll 0 0;
    border: medium none;
    font-size:14px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color:#fff;
    font-weight: 600;
}

.falcon span:hover,
.coca_cola_red:hover
{
    background-color: #ecf0f5;
}

/*************************** Gray button NEW ***************************/
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after,
.coca_cola_gray,
.coca_cola_gray::before,
.coca_cola_gray::after
{
    transition: all ease .5s;
}

.button_hola,
.coca_cola_gray{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover,
.coca_cola_gray:hover
{
    box-shadow: 0 0 5em .5em rgba(108, 117, 125, 0.8);
}

.button_hola span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button_hola:hover span,
.coca_cola_gray:hover
{
    background-color: #fff;
    color: #112;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after,
.coca_cola_gray::before,
.coca_cola_gray::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola span::before,
.coca_cola_gray::before
{
    border-style: solid none;
}

.button_hola::before,
.button_hola span::after,
.coca_cola_gray::before
{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after,
.coca_cola_gray::after
{
    border-style: none solid;
}

.button_hola::after,
.button_hola span::before,
.coca_cola_gray::after
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after,
.coca_cola_gray:hover::after
{
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before,
.coca_cola_gray:hover::before
{
    transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
    opacity: 0;
}

.falcon span,
.coca_cola_gray
{
    display: inline-block;
    text-align: left;
    background: rgba(108, 117, 125, 0.8) none repeat scroll 0 0;
    border: medium none;
    font-size:14px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color:#fff;
    font-weight: 600;
}

.falcon span:hover,
.coca_cola_gray:hover
{
    background-color: #ecf0f5;
}

/*************************** Yellow button NEW ***************************/
.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after,
.coca_cola_yellow,
.coca_cola_yellow::before,
.coca_cola_yellow::after
{
    transition: all ease .5s;
}

.button_hola,
.coca_cola_yellow{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button_hola:hover,
.coca_cola_yellow:hover
{
    box-shadow: 0 0 5em .5em rgba(253, 126, 20, 0.8);
}

.button_hola span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button_hola:hover span,
.coca_cola_yellow:hover
{
    background-color: #fff;
    color: #112;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after,
.coca_cola_yellow::before,
.coca_cola_yellow::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button_hola::before,
.button_hola span::before,
.coca_cola_yellow::before
{
    border-style: solid none;
}

.button_hola::before,
.button_hola span::after,
.coca_cola_yellow::before
{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after,
.coca_cola::after
{
    border-style: none solid;
}

.button_hola::after,
.button_hola span::before,
.coca_cola_yellow::after
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after,
.coca_cola_yellow:hover::after
{
    transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before,
.coca_cola_yellow:hover::before
{
    transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
    opacity: 0;
}

.falcon span,
.coca_cola_yellow
{
    display: inline-block;
    text-align: left;
    background: rgba(253, 126, 20, 0.8) none repeat scroll 0 0;
    border: medium none;
    font-size:14px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color:#fff;
    font-weight: 600;
}

.falcon span:hover,
.coca_cola_yellow:hover
{
    background-color: #ecf0f5;
}

/********************************************************************/
/*************************** VSP ***************************/
/*
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
*/